<div class="row">
  <!-- Encabezado -->
  <div class="col-12 text-center mb-3">
    <h2 class="fw-bold">Inicio de sesión</h2>
  </div>

  <!-- Input para ingresar nombre de usuario -->
  <div class="col-12 mb-3">
    <label for="nombreUsuario" class="form-label fw-bold">Usuario</label>
    <input
      class="form-control"
      id="nombreUsuario"
      [(ngModel)]="nombreUsuario"
    />
  </div>

  <!-- Input para ingresar contraseña -->
  <div class="col-12 mb-3">
    <label for="password" class="form-label fw-bold">Contraseña</label>
    <input
      type="password"
      class="form-control"
      id="password"
      [(ngModel)]="password"
    />
  </div>

  <!-- Botón para ingresar -->
  <div class="col-12 text-center mb-3">
    <button (click)="login()" class="btn btn-primary">Ingresar</button>
  </div>

  <!-- Mensaje de error (solo se mostrará si ocurre un error al tratar de iniciar sesión) -->
  <div class="col-12 text-center">
    <p class="text-center text-danger">{{ errorMessage }}</p>
  </div>
</div>
